[submodule "dependencies/skydata"]
	path = dependencies/skydata
	url = https://github.com/skyctl-space/skydata
[submodule "dependencies/asiair"]
	path = dependencies/asiair
	url = https://github.com/skyctl-space/asiair.git
